<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.TestListeners"/>
    </listeners>
    <test verbose="2" parallel="methods" thread-count="4" preserve-order="true" name="/Users/yogeshgheu/Documents/Testing/AutomationSuiteDemoQA">


        <classes>
            <class name="tests.OpenWebsiteTest.OpenWebsiteTest"/>
            <class name="tests.elementsTests.TextBoxTest"/>
        </classes>
    </test>
</suite>